# Archivos de configuración específicos de IDEs
.idea/
.vscode/

# Carpetas generadas por compilación
dist/
build/

# Carpeta de dependencias de Node.js
node_modules

# Base de datos
db/users.db

# Imagenes de usuarios
public/images